@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #555;
  font-weight: 400;
  line-height: 1.6;
}

button {
  font-size: 0.9rem !important;
  padding: 10px 20px !important;
  color: white;
  margin: 10px 0px;
}

.poemAuthorTitle {
  margin: 20px;
}

.poemContent {
  vertical-align: bottom;
  white-space: pre-line;
}

.homepageAuthor {
  box-shadow: 0px 10px 40px rgb(0 0 0 / 20%);
  margin: 30px;
  margin-bottom: 60px;
  text-align: center;
  padding: 30px;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  line-height: 30px;
  font-size: 1.05em;
  /* max-width: 1000px; */
  min-width: 300px;
}

.homepageAuthorImage {
  max-width: 150px;
  border-radius: 3px;
  transform: translateY(-60px);
  box-shadow: 0px 10px 40px rgb(0 0 0 / 20%);
  
}

.alphabetList {
  background-color: white;
  transition: background-color 0.3s;
}

.alphabetList:hover {
  background-color: #ddd;
  transition: background-color 0.3s;
}

.youtubeLink {
  color: #888;
  transition: color 0.3s;
  cursor: pointer;
  text-decoration: none;
}

.youtubeLink:hover {
  color: #ffad4d;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .aboutUsMain {
    margin-top: 5vw;
    margin-bottom: 5vw;

    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: left;
  }

  .aboutUsLeft {
    margin-left: 2vw;
  }

  .aboutUsRight {
    margin-right: auto;
    min-width: 300px;
  }
}

@media screen and (max-width: 1200px) {
  .aboutUsMain {
    margin-top: 5vw;
    margin-bottom: 5vw;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    max-width: 1200px !important;
  }

  .aboutUsRight {
    /* margin-right: auto; */
    min-width: 350px;
  }
}

@media screen and (min-width: 800px) {
  .paperMain {
    margin: 10vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  .poemMain {
    max-width: 1000px;
    width: 70vw;
    margin: 4rem auto;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .poemDiv {
    box-shadow: 0px 10px 40px rgb(0 0 0 / 20%);
    margin: 30px;
    text-align: center;
    padding: 30px;
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 1.05em;
    max-width: 1000px;
    width: 70vw;
  }

  .logoImage {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 160px;
    justify-content: center;
    align-self:center;
    object-fit: contain !important;
  }

  .logoImageWrapper{
    display:flex;
    justify-content:center;
    height:160px
  }

  .topicMain {
    margin: 5vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .indexVideoPlayer {
    width: 100% !important;
    height: 450px !important;
  }
}

@media screen and (max-width: 800px) {
  .indexMain {
    margin-top: 5vw;
    margin-bottom: 5vw;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    max-width: 800px !important;
  }
  .indexVideoPlayer {
    max-width: 600px !important;
    width: 100% !important;
  }
  .topicMain {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
    max-width: 800px !important;
  }
  .paperMain {
    width: 100%;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
  }
  .poemMain {
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .poemDiv {
    box-shadow: 0px 10px 40px rgb(0 0 0 / 20%);
    margin: 30px;
    text-align: center;
    padding: 30px;
    font-family: "Maven Pro", sans-serif;
    font-weight: 400;
    line-height: 30px;
    font-size: 1.05em;
    max-width: 100%;
    width: 100%;
  }

  .logoImage {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 10vh;
    justify-content:center;
    object-fit: contain !important;
    align-self: center;
  }
  .logoImageWrapper{
    display:flex;
    justify-content:center;
    height:10vh
  }

}

@media screen and (min-width: 1100px) {
  .indexMain {
    margin-top: 5vw;
    margin-bottom: 5vw;

    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: left;
  }

  .indexRight {
    margin-left: 2vw;
  }

  .indexLeft {
    margin-right: auto;
  }

  .indexVideoPlayer {
    width: 100% !important;
    height: 450px !important;
  }
}

@media screen and (max-width: 400px) {
  .topicMain {
    margin: 1vw;
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    text-align: left;
  }
  .indexMain {
    margin-top: 5vw;
    margin-bottom: 5vw;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    max-width: 800px !important;
  }
  .indexLeft {
    /* margin-left: 10px !important; */
    margin-right: 10px !important;
  }

  .indexVideoPlayer {
    width: 350px;
  }
}


.backToTop {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: #05054b;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  opacity: 0.3;
  transition: all .3s;

}

.backToTop:hover {
  transition: all .3s;
  opacity: 1
}